*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(221, 210, 232);
    min-height: 100vh;
    border: 5px solid rgb(52, 3, 99);
}
.content{
    max-width: 900px;
    margin: 0 auto;

}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h1{
    font-size: 60px;
    font-weight: 100px;
    color: black;
    text-transform: uppercase;
}
.top_section h4{
    font-size: 30px;
    text-align: end;
}
.image_container{
    border-radius: 50%;
    overflow: hidden;
}
.image_container, img{
width: 250px;
height: 280px;
}
.about{
    margin-top: 50px;
}
.about h2{
    font-size: 50px;
    font-weight: 400px;
    margin-bottom: 20px;
}
.about p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}
.biography li{
    font-size: 20px;
    line-height: 35px;


}
.biography ul{
    margin-left: 50px;
}
.biography h3{
    font-size: 50px;
    font-weight: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    margin-top: 50px;
    font-size: 20px;
}
footer p{
    text-align: end;
}